<ul class="main-navigation center">
  <li><a href="{{ root_url }}/" title="go to blog home page"><i class="fa fa-home fa-2x"></i></a></li>
  <li><a href="{{ root_url }}/blog/archives" title="see blog archives"><i class="fa fa-archive fa-2x"></i></a></li>
  <li><a href="https://github.com/devatlant" title="see our GitHub account"><i class="fa fa-github fa-2x"></i></a></li>
  <li><a href="/atom.xml" title="subscribe to our RSS feed"><i class="fa fa-rss-square fa-2x"></i></a></li>
  <li><a href="https://www.twitter.com/devatlant" title="subscribe to our twitter"> <i class="fa fa-twitter fa-2x"></i></a></li>
</ul>
